<div class="bg" id="about">
<div class="container text-center">
    <h2 class="section-heading">About</h2>
    <hr class="light">
    <p class="text-faded">Artificial Intelligence is crucial to the future economic success. However, it is difficult to trust AI-controlled systems that are unclear about why they are doing what they are doing. In most scenarios, these systems must operate at the boundaries of their competence and require human collaboration or supervision.</p>
    <p class="text-faded">The Strathclyde Center for Doctoral Training in Explainable AI and Industrial Decision Support (EXPLAIN) was established in Oct 2020. The center is a multidisciplinary group for doctoral training in AI decision-support systems. We focus on how human expertise can be captured, represented, retained, and utilised to provide qualified, robust, and evidence-based decisions in areas such as planning, scheduling, optimisation, and through-life asset management. Advances in analytics, machine-learning, and automated systems will allow human intelligence to solve ever more complex problems in these areas.</p>
</div>
</div>
