<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">The center for Explainable AI for Industrial Decision Support is a multidisciplinary group for doctoral training in AI decision-support systems. We focus on how human expertise can be captured, represented, retained, and utilised to provide qualified, robust, and evidence-based decisions in areas such as planning, scheduling, optimisation, and through-life asset management.  Advances in analytics, machine-learning, and automated systems, allow human intelligence to solve ever more complex problems in these areas.</p>
            </div>
        </div>
    </div>
</section>
