<div class="dark" id="projects">
<div class="container">
    <h2>Projects</h2>
</div>
</div>
<div class="dark">
    <div class="project"><a href"#" class="project-box">
        <img src="img/portfolio/temp.jpg" class="img-responsive" alt="">
        <div class="project-name"><h4>Project Name</h4></div>
    </a></div>
    <div class="project"><a href"#" class="project-box">
        <img src="img/portfolio/temp.jpg" class="img-responsive" alt="">
        <div class="project-name"><h4>Project Name</h4></div>
    </a></div>
    <div class="project"><a href"#" class="project-box">
        <img src="img/portfolio/temp.jpg" class="img-responsive" alt="">
        <div class="project-name"><h4>Project Name</h4></div>
    </a></div>
    <div class="project"><a href"#" class="project-box">
        <img src="img/portfolio/temp.jpg" class="img-responsive" alt="">
        <div class="project-name"><h4>Project Name</h4></div>
    </a></div>
    <div class="project"><a href"#" class="project-box">
        <img src="img/portfolio/temp.jpg" class="img-responsive" alt="">
        <div class="project-name"><h4>Project Name</h4></div>
    </a></div>
    <div class="project"><a href"#" class="project-box">
        <img src="img/portfolio/temp.jpg" class="img-responsive" alt="">
        <div class="project-name"><h4>Project Name</h4></div>
    </a></div>
    <div class="project"><a href"#" class="project-box">
        <img src="img/portfolio/temp.jpg" class="img-responsive" alt="">
        <div class="project-name"><h4>Project Name</h4></div>
    </a></div>
    <div class="project"><a href"#" class="project-box">
        <img src="img/portfolio/temp.jpg" class="img-responsive" alt="">
        <div class="project-name"><h4>Project Name</h4></div>
    </a></div>
</div>
