<div class="dark" id="team">
<div class="container">
    <h2>People</h2>
</div>
</div>
<div id="data" class="container" style="margin-bottom: 0">

</div>
<div class="container">

    <!-- supervisors -->
    <div class="team-member">
        <img src="img/profiles/arulselvan.jpg" class="img-circle" alt="">
        <div class="team-member-name">
        <h4 class="supervisor-name">Ashwin Arulselvan</h4>
        <p class="dept">Senior Lecturer, Management Science</p>
        <p class="topic"><a hef="https://www.strath.ac.uk/staff/arulselvanashwindr/">https://www.strath.ac.uk/staff/arulselvanashwindr</a></p>
        </div>
    </div>
    <div class="team-member">
        <img src="img/profiles/cashmore.jpeg" class="img-circle" alt="">
        <div class="team-member-name">
        <h4 class="supervisor-name">Michael Cashmore</h4>
        <p class="dept">Chancellor's Fellow, Computer and Information Science</p>
        <p class="topic"><a hef="http://personal.strath.ac.uk/michael.cashmore/">http://personal.strath.ac.uk/michael.cashmore</a></p>
        </div>
    </div>
    <div class="team-member">
        <img src="img/profiles/riccardi.jpg" class="img-circle" alt="">
        <div class="team-member-name">
        <h4 class="supervisor-name">Annalisa Riccardi</h4>
        <p class="dept">Chancellor's Fellow, Mechanical and Aerospace Engineering</p>
        <p class="topic"><a hef="https://www.strath.ac.uk/staff/riccardiannalisadr/">https://www.strath.ac.uk/staff/riccardiannalisadr</a></p>
        </div>
    </div>
    <div class="team-member">
        <img src="img/profiles/west.jpg" class="img-circle" alt="">
        <div class="team-member-name">
        <h4 class="supervisor-name">Graeme West</h4>
        <p class="dept">Senior Lecturer, Electronic & Electrical Engineering</p>
        <p class="topic"><a hef="https://www.strath.ac.uk/staff/westgraemedr/">https://www.strath.ac.uk/staff/westgraemedr</a></p>
        </div>
    </div>

</div>
