  <aside class="bg-dark" id="team">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>People</h2>
                
          </div>
      </div>
  </aside>
<section class="bg-light text-center" id="portfolio">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-sm-1">
            <img src="img/profiles/profile.jpg" class="img-responsive img-circle" alt="">
            <div class="student-name"><h4>Cheyenne Powell</h4></div>
            <p>MAE</p>
        </div>
        <div class="col-lg-2 col-sm-1">
            <img src="img/profiles/profile.jpg" class="img-responsive img-circle" alt="">
            <div class="student-name"><h4>Andrew Murray</h4></div>
            <p>Computer Science</p>
        </div>

        <!-- supervisors -->
        <div class="col-lg-2 col-sm-1 text-center">
            <img src="img/profiles/profile.jpg" class="img-responsive img-circle" alt="">
            <div class="supervisor-name"><h4>Dr. Ashwin Arulselvan</h4></div>
            <p>Supervisor, ManSci</p>
        </div>
        <div class="col-lg-2 col-sm-1 text-center">
            <img src="img/profiles/profile.jpg" class="img-responsive img-circle" alt="">
            <div class="supervisor-name"><h4>Dr. Michael Cashmore</h4></div>
            <p>Supervisor, CIS</p>
        </div>
        <div class="col-lg-2 col-sm-1 text-center">
            <img src="img/profiles/profile.jpg" class="img-responsive img-circle" alt="">
            <div class="supervisor-name"><h4>Dr. Annalisa Riccardi</h4></div>
            <p>Supervisor, MAE</p>
        </div>
        <div class="col-lg-2 col-sm-1 text-center">
            <img src="img/profiles/profile.jpg" class="img-responsive img-circle" alt="">
            <div class="supervisor-name"><h4>Dr. Graeme West</h4></div>
            <p>Supervisor, EEE</p>
        </div>
    </div>
    </div>
</section>
