<div class="dark" id="team">
<div class="container">
    <h2>Students</h2>
</div>
</div>
<div id="data" class="container" style="margin-bottom: 0">

</div>
<div class="container">

    <!-- supervisors -->
    <div class="team-member">
        <img src="img/profiles/profile.jpg" class="img-circle" alt="">
        <div class="team-member-name">
        <h4 class="supervisor-name">Ashwin Arulselvan</h4>
        <p>ManSci</p>
        </div>
    </div>
    <div class="team-member">
        <img src="img/profiles/profile.jpg" class="img-circle" alt="">
        <div class="team-member-name">
        <h4 class="supervisor-name">Michael Cashmore</h4>
        <p>CIS</p>
        </div>
    </div>
    <div class="team-member">
        <img src="img/profiles/profile.jpg" class="img-circle" alt="">
        <div class="team-member-name">
        <h4 class="supervisor-name">Annalisa Riccardi</h4>
        <p>MAE</p>
        </div>
    </div>
    <div class="team-member">
        <img src="img/profiles/profile.jpg" class="img-circle" alt="">
        <div class="team-member-name">
        <h4 class="supervisor-name">Graeme West</h4>
        <p>EEE</p>
        </div>
    </div>

</div>
